.water-bottle {
    height: 130px;
    width: 96px;
    background: url("./img/bg.png") no-repeat;
    background-color: #fff;
    border-radius: 8px;
}

.water-bottle-wrapper {
    padding: 12px;
    position: relative;
}

.water-bottle .bottle-volume {
    margin-bottom: 2px;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;

    color: #455273;
}

.water-bottle .bottle-price {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    color: #FFFFFF;
}

.water-bottle .bottle-count {
    margin-bottom: 53px;

    font-size: 10px;
    line-height: 13px;
    color: #BABDC2;
}

.water-bottle-wrapper::after {
    position: absolute;
    top: 10px;
    right: 10px;
    content: "";

    width: 8px;
    height: 8px;

    background: #D5DDE0;
    border-radius: 50%;
}

.active .water-bottle-wrapper::after {
    background: #FFC369;
}

.count-menu {
    margin-top: 15px;
    margin-bottom: 30px;
    display: flex;
    direction: row;
    justify-content: center;
}

.count-menu span {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;

    color: #455273;
}

.count-menu button {
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 50%;
    margin: 0 10px;
}

.count-menu button:hover {
    cursor: pointer;
}

.minus {
    background: url("../order-water/img/minus-circle.svg") no-repeat;    
}

.plus {
    background: url("../order-water/img/plus-circle.svg") no-repeat;    
}